# Variables de Cloudinary
CLOUDINARY_CLOUD_NAME=tu_nombre_cloudinary
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

# Línea que hace que Cloudinary se configure sola:
CLOUDINARY_URL=cloudinary://tu_api_key:tu_api_secret@tu_nombre_cloudinary
